.github/
.husky/
build/
node_modules/
src/
.eslintignore
.gitignore
.gitmodules
.npmignore
.releaserc.json
package-lock.json
yarn.lock
prepublish.js
rollup.config.js
tsconfig.json
package.json.bak
public/
**/*.tgz
